$primary: #cb095a;
$input-border-color: var(--bs-black);
@import "node_modules/bootstrap/scss/bootstrap";

.card {
    border: 1px solid black;
    box-shadow: 2px 2px black;
}

.btn {
    box-shadow: 3px 3px black;
    transform: translate(-3px, -3px);
    transition: unset;
    &:active{
        box-shadow: 1px 1px black;
        transform: translate(-1px, -1px);
    }
    &:disabled {
        box-shadow: unset;
        transform: unset;
    }
}

.navbar {
    border-bottom: 3px solid black;
}

.navbar a {
    &:hover {
        text-shadow: 2px 2px black;
        transform: translate(-2px, -2px);
    }
}

.nav-item span {
    &:hover {
        cursor: pointer;
        text-shadow: 2px 2px black;
        transform: translate(-2px, -2px);
    }
}