$primary: #cb095a;
$input-border-color: var(--bs-black);
@import "node_modules/bootstrap/scss/bootstrap";

.card {
    border: 1px solid black;
    box-shadow: 2px 2px black;
}

.btn {
    box-shadow: 3px 3px black;
    transform: translate(-3px, -3px);
    transition: unset;
    &:active{
        box-shadow: 1px 1px black;
        transform: translate(-1px, -1px);
    }
    &:disabled {
        box-shadow: unset;
        transform: unset;
    }
}

.navbar {
    border-bottom: 3px solid black;
}

.navbar a {
    &:hover {
        text-shadow: 2px 2px black;
        transform: translate(-2px, -2px);
    }
}

.nav-item span {
    &:hover {
        cursor: pointer;
        text-shadow: 2px 2px black;
        transform: translate(-2px, -2px);
    }
}

.editor-base {
    height: calc(100vh - 75px);
}

.no-outline {
    &:focus {
        outline: none;
    }
}

.no-resize {
    resize: none;
}

.toast-wrapper {
    max-width: 200px;
    z-index: 1;
    right: 20px;
    top: 75px;
    transition: opacity 0.3s ease;
}

p.markdown img {
    max-width: 100%;
}